/* 
   Alerts
   Refactor to include new color variables as well as sizes
*/

.alert { 
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .13em;
  text-transform: uppercase;
  padding: 15px;
}

.alert-small { 
  font-size: 11px;
  padding: 7px 15px;
}

.alert-black,
.alert-primary {
  color: #fff;
}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* Extra Extra small devices devices */
@media (max-width:348px) {}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {}

/* Extra large devices (large desktops)*/
/* No media query since the extra-large breakpoint has no upper bound on its width */
