/* App.css */
html, body {
  background-color: #000;
}

.navbar {
  height: 60px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
}

.navbar-dark {
  background-color: #000;
  color: #fff;
}

.navbar-brand {
  margin-right: auto;
  margin-left: auto;
  font-size: 1rem;
}

.navbar-brand-img {
  width: 100px;
  margin-bottom: 3px;
}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .navbar {
    height: 90px;
    margin-top: 15px;
  }
  .navbar-brand-img {
    width: 125px;
    margin-bottom: 0;
  }
  .navbar-spacer {
    height: 15px;
  }
  .nav-link {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navbar-brand {
    margin-left: 0;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* Extra Extra small devices devices */
@media (max-width:348px) {}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {}

/* Extra large devices (large desktops)*/
/* No media query since the extra-large breakpoint has no upper bound on its width */
