/* App.css */

/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h3 {
    font-weight: 800;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .hero {
    /*max-width: 1440px;*/
  }
}

/* Extra Extra small devices devices */
@media (max-width:348px) {}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
  .container {
    max-width: none;
  }
}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {}

/* Extra large devices (large desktops)*/
/* No media query since the extra-large breakpoint has no upper bound on its width */
