/*   
Papriika
Description: This theme is the private theme for Papriika Lifestyle Inc. and is under copyright by Papriika Lifestyle Inc. and may not be used under any circumstances without the hand-written consent of Guy Lepage, Co-Founder and CEO of Papriika Lifestyle Inc.
Author: Papriika
URL: http://www.papriika.com/
Version: v4.1.1 2014-04-22
License: Private License
*/

/* #8c7a4f   GOLD   -------- */
::selection{background:rgba(140,122,79,0.99);color:#fff;}
::-moz-selection{background:rgba(140,122,79,0.99);color:#fff;}
/* #000000   BLACK    -------- */
/* ::selection{background:rgba(0,0,0,0.99);color:#fff;}*/
/* ::-moz-selection{background:rgba(0,0,0,0.99);color:#fff;}*/
/* #7b8ea5   SILVER BLUE   -------- */
/* ::selection{background:rgba(123,142,165,0.99);color:#fff;}*/
/* ::-moz-selection{background:rgba(123,142,165,0.99);color:#fff;}*/
/* #314552   RICH BLUE    -------- */
/* ::selection{background:rgba(49,69,82,0.99);color:#fff;}*/
/* ::-moz-selection{background:rgba(49,69,82,0.99);color:#fff;}*/
/* #bfc1c2   SILVER   -------- */
/* ::selection{background:rgba(191,193,194,0.99);color:#fff;}*/
/* ::-moz-selection{background:rgba(192,192,192,0.99);color:#fff;}*/
/* #2a8a15   GREEN    -------- */
/* ::selection{background:rgba(42,138,21,0.99);color:#fff;}*/
/* ::-moz-selection{background:rgba(42,138,21,0.99);color:#fff;}*/
/* #8c7158   BRONZE    -------- */
/* ::selection{background:rgba(140,113,88,0.99);color:#fff;}*/
/* ::-moz-selection{background:rgba(140,113,88,0.99);color:#fff;}*/

.group:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.group {
  display: inline-block;
}

/* start commented backslash hack */

* html .group {
  height: 1%;
}

.group {
  display: block;
}

/* close commented backslash hack */


html {
  -webkit-size-adjust: 100%;
  background: url(/images/bkg-sign-in.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-text-size-adjust: none;
}

body {
  background-color: transparent;
  color: #fff;
}


/* -- Off-canvas -- */
.uk-offcanvas, .uk-offcanvas-bar{z-index:2000;}
.uk-offcanvas{background:rgba(0, 0, 0, 0.3)}
.uk-offcanvas-bar{width:250px;background-color:#000!important;margin-left:-2px!important;}/* ---- Removes off-canvas button ---- */ 
.uk-button{background-color:transparent!important;background:none!important;margin:20px 10px;padding:2px 3px;}
.uk-button:hover, .uk-button:focus, .uk-button:active{background-color:transparent!important;background:none!important;}
.collapse {display:block;}


/* Navigation */

.navbar {
  border: none;
}

.navbar-nav>li>a:hover {
  background-color: #8c7a4f;
}

.navbar-inverse .navbar-nav li a, .navbar-nav li a {
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
}

.navbar-nav .active a {
  background-color: #141414;
}

.navbar-nav .active a:hover {
  background-color: #8c7a4f;
}

.navbar-collapse {
  border-top: none;
  box-shadow: none;
}

.navbar-brand img {
  width: 110px;
  height: auto;
  margin-top: 12px;
  margin-left: 12px;
  text-align: center;
}

.index-brand img {
  width: 130px;
  height: auto;
  margin: -65px 0 20px 0;
}

.brand-sml img {
  position: absolute;
  width: 110px;
  height: auto;
  margin: -47px 0 20px 0;
  left: 50%;
  margin-left: -55px;
}

.navbar-toggle {
  float: left;
  margin: 0;
  padding: 9px 11px;
  border-color: transparent;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 15px;
  height: 1px;
  border-radius: 1px;
  background-color: #fff;
}

.navbar-toggle:hover, .navbar-toggle:focus {
  background-color: transparent;
}

div.navbar.navbar-inverse.navbar-fixed-top {
  display: none;
}

.navbar-inverse {
  background-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>li>a {
  padding: 12px 25px;
  margin-left: 8px;
  margin-right: 8px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(140, 122, 79, 0);
  -webkit-transition: all linear .2s;
  transition: all linear .2s;
}

.navbar-inverse .navbar-nav>.active>a {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 1);
}

.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>li>a:hover {
  border-radius: 4px;
  border: 1px solid #8c7a4f;
  background-color: #8c7a4f;
}

.navbar-fixed-top, .navbar-fixed-bottom {
  position: relative;
}


/* Other */

h1 span {
  display: block;
}

h1 {
  font-weight: 300;
  font-size: 24px;
}

h1, h1 span {
  margin-bottom: 10px;
}

.lead {
  font-size: 18px;
  font-weight: 300;
}

.lead span {
  display: block;
  margin-top: 10px;
}

.container-gold {
  background-color: #8c7a4f;
}

.container-gold a {
  color: #fff;
}

.container-gold a:hover {
  color: #baa980;
  text-decoration: none;
}

.container-gold ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container-gold .container .starter-template .lead {
  font-size: 18px;
}

.container-gold .container .starter-template {
  margin-bottom: 20px;
}

.container-white {
  background-color: #fff;
  margin-top: 50px;
  color: #333;
}

.container-white a {
  color: #333;
  text-decoration: none;
}

.container-white a:hover {
  color: #333;
  text-decoration: underline;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#goog-fixurl {
  margin-top: 20px;
  margin-bottom: 150px;
}

#goog-fixurl b, #goog-fixurl strong {
  font-weight: 500;
}

#goog-fixurl ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#goog-wm-qt, #goog-wm-sb {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  border: 1px solid #8c7a4f;
  border-radius: 4px;
}

#goog-wm-qt {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 40px;
  max-width: 100%;
  padding: 4px 6px 6px 6px;
  background: #fff;
  color: #8c7a4f;
  -webkit-transition: all linear .2s;
  transition: all linear .2s;
  -webkit-appearance: none;
}

#goog-wm-sb {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-decoration: none;
  border: none;
  line-height: 28px;
  min-height: 40px;
  font-size: 14px;
  padding: 0 13px;
  background: #8c7a4f;
  -webkit-transition: all linear .2s;
  transition: all linear .2s;
  -webkit-appearance: none;
}

#goog-wm-qt:hover, #goog-wm-sb:hover {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: all linear .2s;
  transition: all linear .2s;
}

#goog-wm-sb:hover {
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 1);
  text-decoration: none;
  background-image: none;
  outline: none;
}

#goog-wm-qt:focus {
  color: #fff;
  border-color: #8c7a4f;
  background: #8c7a4f;
  -webkit-appearance: none;
  outline: none;
}


/* Media queries */

@media (min-width:479px) {
  #goog-fixurl {
    margin-top: 45px;
  }

  .index-brand img {
    width: 130px;
    height: auto;
    margin: -70px 0 20px 0;
  }

  .brand-sml img {
    position: absolute;
    width: 110px;
    height: auto;
    margin: -45px 0 20px 0;
    left: 50%;
    margin-left: -55px;
  }

  .container-white {
    margin-top: 20px;
  }

  .container-gold .container .starter-template .lead {
    margin-top: 45px;
    margin-bottom: 18px;
  }

}

@media (min-width:768px) {
  .index-brand, .brand-sml, button.uk-button, button.navbar-toggle {
    display: none;
  }

  div.navbar.navbar-inverse.navbar-fixed-top {
    display: block;
  }

  .navbar-brand img {
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  div.collapse.navbar-collapse {
    margin-top: 30px;
    background-color: transparent;
    float: right;
  }

  #goog-wm-sb {
    margin-top: 0px;
  }

  .container-white {
    margin-top: 50px;
  }

}