// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grid-breakpoints: map-merge(
  (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
  ),
  $grid-breakpoints
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$container-max-widths: map-merge(
  (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1360px
  ),
  $container-max-widths
);


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                12 !default;
$grid-gutter-width:           30px !default;



$navbar-dark-color:                 rgba(#fff, 1);
$navbar-dark-hover-color:           rgba(#fff, .5);
$navbar-dark-active-color:          blue;

$navbar-light-color:                 rgba(#000, 1);
$navbar-light-hover-color:           rgba(#000, .5);
$navbar-light-active-color:          blue;

@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/@universelabs/meta/scss/meta.scss';