// Override Meta after the import
@import 'node_modules/@universelabs/meta/scss/meta.scss';



// Papriika

$theme-colors: (
  "primary":   #1700c4,
  "black":     #000,
  "picotee":   #181846
);

$enable-gradients:                            true;

$navbar-dark-color:                 rgba(#fff, 1);
$navbar-dark-hover-color:           rgba(#fff, .5);
$navbar-dark-active-color:          primary;

$navbar-light-color:                 rgba(#000, 1);
$navbar-light-hover-color:           rgba(#000, .5);
$navbar-light-active-color:          primary;

// Override default variables before the import
// Import Bootstrap and its default variables

@import 'node_modules/bootstrap/scss/bootstrap.scss';
